*{
    padding:0;
    margin:0px;
}
body{
    background-color: cyan;
    color:black;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color:darkcyan;
    line-height: 80px;
    
}

nav .logo{
    height:80px;
    width:200px;
    background:url('https://res-5.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_170,w_170,f_auto,b_white,q_auto:eco/v1509755138/cwzqxuetqhikwuq02z7y.png');
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    margin:0;
    padding:0;
}
nav ul{
    float:right;
    margin:0;
    margin-right:20rem;
}

nav ul li{
    list-style-type:none ;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color:#fff;
    padding:20px
}

img{
    width:13%;
    margin-left: 1.9rem;
}
    
nav ul li:hover{
    background-color: coral;
    color:#000;
    font-weight:bold;
    font-size:1.2rem;
}

nav img{
    position: absolute;
    width: 160px;
    height: 80px;
    margin-left: 0px;
    top: 0px;
}

header{
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

header>nav>ul>li{
    display: inline-block;
    list-style: none;
}

header>nav>ul>li>a{
    text-decoration: none;
    justify-content: center;
    padding:10px;
}

section{
    padding:20px;
    margin:auto 100px;
    
}
.section{
    background-color: #333;
    height:380px;
    margin:25px;
    padding:10px;
} 

img{
    height:280px;
    width:300px;
    float:left;
    margin:10px;
}

.blogs{
    margin-top:40px;
    color:#c0c0c0;
    font-family: 'Roboto', sans-serif;
}

#additions{
    margin:20px;
}

#additions>form{
    background-color: #333;
    font-size: 20px;
    padding:15px;
}

#additions>form>input{
    margin:10px;
    width:95%;
    height: 30px;
}

button{
    height:25px;
    padding:5px;
    margin:0 10px;
}

@media only screen and (max-width: 600px) {
    section{
        padding:10px;
        margin:auto 50px;
        
    }
    
  }
