body{
    margin: 0;
    padding: 0;
    background: url(Backgroundteensafe.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-color: rgb(170, 167, 167);
}

.loginbox{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 40px;
}

.longin input[type="submit"]
{
    border: none;
    outline: none;
    height: 80px;
    background: #fb2525;
    color: #fff;
    font-size: 40px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.loginbox a:hover
{
    color: #ffc107;
}

 img{
    border-style: solid;
    width: 400px;
    height: 600px;
    float: left;
    margin: 20px 200px 40px 0px;
    background-color: white;
}

form{
    border-style: solid;
    width: 500px;
    height: 600px;
    margin: 20px 0px 40px 560px;
    float: left;
    line-height: 1.6;
    font-size: 30px;
    background-color: grey;
}

.container
{
    width: 80%;
    margin: 0 auto;
}
header
{
    background: #55d6aa;
}
 header::after
 {
     content: '';
     display: both;
     clear: both;
 }

nav
{
    float: right;
}
nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li
{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}

nav a
{
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover
{
    color: blue;
}